<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Chat-Node js</title>
  {{!-- Google Fonts --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {{!-- CDN Fontawesome --}}
  <script src="https://kit.fontawesome.com/d72f1fc9a8.js" crossorigin="anonymous"></script>
  {{!-- CDN Bootstrap --}}
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  {{!-- Estilo personalizado --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  {{!-- JQuery --}}
  <script src="/js/jquery/jquery-3.6.0.min.js"></script>

</head>
<body>

    {{>errors}}
    {{>message}}

    {{{body}}}

<script src="https://momentjs.com/downloads/moment.min.js"></script>
{{!-- CDN Bootstrap  --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>  